<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title ? title :'Login Now' %></title>    
    

    <link rel="stylesheet" href="/static/output.css">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">

    <style>
      .nunito {
          font-family: 'nunito', font-sans;
      }
      
      .border-b-1 {
          border-bottom-width: 1px;
      }
      
      .border-l-1 {
          border-left-width: 1px;
      }
      
      hover\:border-none:hover {
          border-style: none;
      }
      
      #sidebar {
          transition: ease-in-out all .3s;
          z-index: 9999;
      }
      
      #sidebar span {
          opacity: 0;
          position: absolute;
          transition: ease-in-out all .1s;
      }
      
      #sidebar:hover {
          width: 150px;
          box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
          /*shadow-2xl*/
      }
      
      #sidebar:hover span {
          opacity: 1;
      }
  </style>
</head>
<body class="flex h-screen bg-gray-100 font-sans">
